.hero {
  max-width: 480px;
  height: 400px;
  display: block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
      to bottom $gradient-hero-section,
      $gradient-hero-section
    ),
    url("../../images/mobile/hero-mob-480.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../images/mobile/hero-mob@2x-960.jpg");
  }

  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom $gradient-hero-section,
        $gradient-hero-section
      ),
      url("../../images/tablet/hero-tab.jpg");
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/tablet/hero-tab@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to bottom $gradient-hero-section,
        $gradient-hero-section
      ),
      url("../../images/desc/hero-desc.jpg");
    background-size: cover;
    background-position: 50% 50%;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/desc/hero-desc@2x.jpg");
    }
  }
}

.hero__content {
  margin: auto;
}

.hero__title {
  padding: 0 60px;
  color: $white-text-color;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding: 0 204px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 2.64px;
    padding: 0;
  }
}

.text-break {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.hero__button {
  @extend %button;
  padding-left: 20px;
  padding-right: 20px;
}
