.works {
  display: block;
  padding: 94px 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.works__title {
  @extend %section-title;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.works__item {
  flex-basis: 370px;
  max-width: 370px;
}

.works__thumb {
  position: relative;
}

.works__descr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $works-item-bg-color;

  color: $white-text-color;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
