$accent-color: #2196f3;
$primary-text-color: #757575;
$second-text-color: #212121;
$white-text-color: #ffffff;
$border-bottom-header-color: #ececec;
$roboto-font: "Roboto", sans-serif;
$railway-font: "Raleway", sans-serif;
$logo-header-color: #000000;
$bg-color-footer-and-hero: #2f303a;
$alpha-color-footer: rgba(255, 255, 255, 0.6);
$gradient-hero-section: rgba(47, 48, 58, 0.4);
$bg-section-color: #f5f4fa;
$portfolio-card-border: #eeeeee;
$works-item-bg-color: rgba(47, 48, 58, 0.8);
$card-overlay-color: rgba(33, 150, 243, 0.9);
$modal-backdrop-color: rgba(0, 0, 0, 0.2);
$close-btn-border-color: rgba(0, 0, 0, 0.1);
$input-border: rgba(33, 33, 33, 0.2);
$footer-input-color: rgba(255, 255, 255, 0.3);
$footer-text-color: rgb(255, 255, 255, 0.6);
$background-footer-socials: rgb(255, 255, 255, 0.1);
$border-radius: 4px;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$button-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
$input-focus-shadow: rgba(0, 0, 0, 0.15);
$team-card-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$portfolio-card-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
$team-card-border-radius: 0px 0px 4px 4px;
$logo-color: #afb1b8;
$input-background-footer: rgba(33, 150, 243, 0);
